<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App Meme</title>
    <link rel="stylesheet" type="text/css" href="public/css/ts/ts.css" media="screen"/>
    <script type="text/javascript" src="public/scripts/vue.js"></script>
</head>
<body>
    <div id="app" class="">
        <div class="m-2">
            <div class="float-left mt-2">
                <p><span v-on:click="toggleEditor" class="editor-button">Hide Editor</span></p>
            </div>
            <div class="float-left">
                <p :class="statusCSS">{{ statusText }}</p>
            </div>
            <div class="clear-both"></div>
        </div>
    
        <div id="side-bar" :class="sideBarCSS">
            
            <!-- EDITOR -->
            <div class="float-left editor-widget">
                <h2>Messages</h2>
                <div class="mb-2">
                    <p>
                        <select id="peopleNames" v-model="selectedPerson">
                            <option v-for="person in orderedPeople" :value="person">{{ person.personName }}</option>
                        </select>
                        <span v-on:click="addMessage" class="editor-button">Add Message</span>
                        <span v-on:click="clearAllMessages" class="editor-button">Clear All</span>
                    </p>
                </div>
                <div>
                    <div class="mb-2 p-1" v-for="message in messages">
                        <p>
                            <input type="text" v-model="message.message" class="border-blue-300"/>
                        </p>
                        <p>
                            <input type="text" v-model="message.personName"/>
                        </p>
                        <p>
                            <select id="peopleNames">
                                <option v-for="person in orderedPeople" :value="person">{{ person.personName }}</option>
                            </select>
                        </p>
                        <div class="float-left">
                            <p>Background</p>
                            <div class="float-left">
                                <select v-model="message.person.backgroundColour">
                                    <option v-for="colour in orderedBackgroundColours" :value="colour" >{{ colour.colourName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                        <div class="float-left">
                            <p>Colour</p>
                            <div>
                                <select v-model="message.person.foregroundColour"> 
                                    <option v-for="colour in orderedColours" :value="colour">{{ colour.colourName }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="float-left flex">
            <div class="bg-green-400">
                <!-- CHAT APP -->
                <div class="bg-white m-2 p-2 border-gray-100 bg-red-100">
                    <div class="flex bg-yellow-400">
                        <div class="flex-grow">
                            <p>Test</p>
                        </div>
                        <div class="flex-grow">
                            <h2>{{ chatOptions.chatTitle }}</h2>
                        </div>
                        <div class="flex-grow">
                            <p>{{ batteryOptions.batteryPercentage }}%</p>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <div v-for="message in messages">
                        <div :class="[ message.person.backgroundColour.colourValue,message.person.foregroundColour.colourValue]" class="rounded p-2 w-6/12">
                            <div class="float-left">
                                <p>{{ message.personName}}<br/></p>
                            </div>
                            <div class="float-left">
                               {{ message.message }}<br/>
                               {{ message }}
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SIDEBAR SETTINGS -->
        <div id="side-bar-settings" :class="sideBarCSS">
            <!-- Settings -->
            <div class="float-right">

                <div class="editor-widget">
                    <h2>Chat Theme</h2>
                    <div>
                        <p>Show Battery <input type="checkbox" v-model="batteryOptions.batteryShow" /></p>
                        <p>Battery Percentage <input type="text" v-model="batteryOptions.batteryPercentage" /></p>
                        <p>Show Chat Title <input type="checkbox" v-model="chatOptions.chatTitleShow" /></p>
                        <p>Chat Title <input type="text" v-model="chatOptions.chatTitle" /></p>
                    </div>
                </div>

                <div class="editor-widget">
                    <h2>People</h2>
                    <div>
                        <p><input type="text" v-model="newPersonName" ><span v-on:click="addPerson" class="editor-button">Add Person</span></p>
                    </div>
                    <div v-for="person in people">
                        <div>
                            <p>{{ person.personName }}</p>
                        </div>
                    </div>
                    <div class="clear-both"></div>
            </div>
        </div>

        
    </div>

</body>
<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        mounted() {
            this.preload();
        }, 
        data: {
            newPersonName: "",
            people: [],
            messages: [],
            sideBarCSS: "block",
            editorToggleText: "Hide Editor",
            messageLastIndex: 0,
            selectedPerson: {
                personName: ""
            },
            statusCSS: "none",
            statusText: "",
            batteryOptions: {
                batteryShow: true,
                batteryPercentage: "100"
            },
            chatOptions: {
                chatTitleShow: true,
                chatTitle: "Group Chat"
            },
            themeBackgroundColours: [
                {
                    colourName: "blue",
                    colourValue: "bg-blue-400"
                },
                {
                    colourName: "green",
                    colourValue: "bg-green-400"
                },
                {
                    colourName: "gray",
                    colourValue: "bg-gray-400"
                },
            ],
            themeColours: [
                {
                    colourName: "black",
                    colourValue: "text-black"
                },
                {
                    colourName: "white",
                    colourValue: "text-white"
                }
            ]
        },
        methods: {
            preload: function(event) {
                this.newPersonName = "Peter";
                this.addPerson();

                this.newPersonName = "Jane";
                this.addPerson();

                this.newPersonName = "";
            },
            addPerson: function(event) {
                if (this.newPersonName === "") {
                    this.timedStatus("Please enter a name.", "status-warning");
                    return;
                }
  
                const person = this.createNewPerson(this.newPersonName);
                this.people.push(person);
                this.newPersonName = "";
            },
            createNewPerson: function(name) {
                const obj = {
                    personName: name,
                    backgroundColour: this.themeBackgroundColours[0],
                    foregroundColour: this.themeColours[0],
                    profilePicture: ""
                };

                return obj;
            },
            addMessage: function(event) {

                if (this.selectedPerson.personName === "") {
                    this.timedStatus("Please select a name.", "status-warning");
                    return;
                }

                const obj = {
                    message: "",
                    messageIndex: this.messageLastIndex,
                    personName: this.selectedPerson.personName,
                    person: this.selectedPerson
                };

                this.messages.push(obj);
                this.messageLastIndex = this.messageLastIndex + 1;
            },
            clearAllMessages: function(event) {
                this.messages = [];
                this.messageLastIndex = 0;
            },
            toggleEditor: function(event) {
                let cssName = "block";
                let cssText = " ";

                if (this.sideBarCSS == "block") {
                    cssName = "hidden";
                    cssText = " ";
                }

                this.sideBarCSS = cssName;
                this.editorToggleText = cssText;
            },
            timedStatus: function(text,css) {
                this.statusCSS = css;
                this.statusText = text;

                setTimeout(()=>{
                    this.statusCSS = "";
                    this.statusText = "";
                },5000);
            }
        },
        computed: {
            orderedPeople: function() {
                return this.people.sort((a,b) => {
                    if(a.personName < b.personName) return -1;
                    if(a.personName > b.personName) return 1;
                    return 0;
                });
            },
            orderedBackgroundColours: function() {
                return this.themeBackgroundColours.sort((a,b) => {
                    if(a.colourName < b.colourName) return -1;
                    if(a.colourName > b.colourName) return 1;
                    return 0;
                });
            },
            orderedColours: function() {
                return this.themeColours.sort((a,b) => {
                    if(a.colourName < b.colourName) return -1;
                    if(a.colourName > b.colourName) return 1;
                    return 0;
                });
            }
        }
    });
</script>
</html>